<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Hello Angular</h2>
            <p>This is an application created with Angular V1 using routes.</p>
            <p>If you have any questions, please contact us here.</p>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">
                        <p>If you have any questions about angular, please contact us here.</p>
                    </h4>
                    <a href="#/login" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</div>